<a href="https://github.com/Jacob-Bankston/Calculate-with-Personality" target="_blank">GitHub Repo</a> <br />
By <a href="https://github.com/Jacob-Bankston" target="_blank">Jacob Bankston</a> &
<a href="https://github.com/taliaa10" target="_blank">Taliaa Tauatolo</a>