<div class="w3-card-4 w3-dark-grey">
    <div class="w3-container w3-center">
        <h3>Did {{personality}} get it right?</h3>
        <button id="yes-play-audio" class="w3-button w3-green">Yes</button>
        <button id="no-play-audio" class="w3-button w3-red">No</button>
    </div>
</div>

{{! Todo Add into chain of output in the calculator
Todo Add listeners to the buttons
Todo Add play a random audio from the file based on the response }}