* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: linear-gradient(to bottom right, #43d151, #1492d1);
  color: white;
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
}

.back-btn {
  position: absolute;
  top: -2%;
  left: 20px;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  color: white;
  background-color: #3298cb;
  box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  text-decoration: none;
  text-align: center;
  width: 200px;
}

@media (max-width: 56.25em) {
  .back-btn {
    top: -3%;
    left: 1%;
    font-size: 8px;
    width: 95px;
  }
}

#container {
  margin: 20px auto;
}
#calculator {
  width: 320px;
  height: 520px;
  background-color: #353535;
  margin: 0 auto;
  top: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

@media (max-width: 56.25em) {
  #calculator {
    width: 320px;
    height: 520px;
    background-color: #353535;
    margin: 0 auto;
    /* margin-bottom: 5px; */
    top: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
}

#result {
  height: 120px;
  background: linear-gradient(to bottom right, #353535b4, #0c0c0c1a);
  border-radius: 5px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 22px;
  color: white;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 50px;
  color: white;
  margin-top: 35px;
}
#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 80px;
  height: 80px;
  /* margin: 15px; */
  float: left;
  /* border-radius: 5%; */
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.top {
  /* background-color: #6161616b; */
  background: linear-gradient(to bottom right, #b3b3b36b, #61616100);
}
.number,
.empty {
  background-color: #61616100;
  background: linear-gradient(to bottom right, #61616100, #000000);
}
.number,
.operator {
  cursor: pointer;
  transition: all 0.3s;
}
.operator:active,
.number:active,
.operator:target,
.number:target {
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}

.side:active,
.number:active {
  font-size: 20px;
  background-color: black;
}

.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  font-size: 20px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}

button:nth-child(4):active {
  font-size: 20px;
  background-color: black;
}

button:nth-child(8) {
  font-size: 20px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}
button:nth-child(12) {
  font-size: 20px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}
button:nth-child(16) {
  font-size: 20px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}
button:nth-child(20) {
  font-size: 20px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}

button:nth-child(17) {
  border-bottom-left-radius: 5px;
}

/* HEADER */
.page-title {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  /* color: rgb(46, 46, 46); */
  color: rgb(255, 255, 255);
  text-shadow: #353535;
  transform: skewY(-5deg);
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  word-spacing: 3px;
  /* -webkit-text-stroke: 0.5px white; */
  position: relative;
  margin-bottom: 90px;
}

.page-title::before {
  content: "";
  display: block;
  height: 100%;
  width: 58%;
  position: absolute;
  top: 110%;
  left: 50%;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  opacity: 0.8;
  z-index: -1;
  transform: skewY(370deg) translate(-50%, -50%);
}

@media (max-width: 56.25em) {
  .page-title::before {
    top: 80%;
  }
}

h4 {
  text-align: center;
  text-shadow: #353535;
}

@media (max-width: 56.25em) {
  h4 {
    width: 300px;
    margin: 0 auto;
    margin-top: 130px;
  }
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  position: absolute;
  top: 5px;
  left: 350px;
  z-index: 2;
}

@media (max-width: 56.25em) {
  .avatar {
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    z-index: 100;
    margin: 0 auto;
    left: 170%;
    top: -35%;
  }
}

.avatar img {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}

/* MODAL CSS */
.feedback-modal {
  height: 200px;
  width: 450px;
  position: absolute;
  top: 400px;
  background-color: rgba(73, 73, 73, 0.411);
  left: 60px;
  border-radius: 7px;
  padding: 30px 50px;
  box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  display: block;
}

.feedback-modal h2 {
  text-align: center;
}

.feedback-modal button {
  padding: 20px;
  width: 110px;
  margin-left: 50px;
  border-radius: 5px;
  margin-top: 35px;
  border: none;
  box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 20px;
}

@media (max-width: 56.25em) {
  .feedback-modal {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 56.25em) {
  .feedback-modal button {
    margin-left: 0px;
    margin: 0;
    margin: 0 auto;
  }
  #yes {
    margin-left: 50px;
  }
}

#yes {
  background-color: #67b26f;
}

#no {
  background-color: rgb(255, 73, 73);
}

.md-show.md-effect-16 .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.personality-list {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50rem;
  grid-gap: 10px;
  margin: 0 auto;
}

@media (max-width: 56.25em) {
  .personality-list {
    grid-template-columns: none;
    width: 100%;
  }
}

.personality-list form {
  display: flex;
}

.personality-button {
  background-color: rgba(255, 255, 255, 0.2); /* Green */
  border: none;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  margin: 10px 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
}

@media (max-width: 56.25em) {
  .personality-button {
    width: 100%;
  }
}

.personality-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.personality-div {
  display: flex;
  align-items: center;
  width: 400px;
}

@media (max-width: 56.25em) {
  .personality-div {
    display: block;
    font-size: 16px;
  }
}

.personality-div img {
  height: 184px;
  width: auto;
  border-radius: 50%;
  border: 5px white solid;
}

.personality {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.personality * {
  padding-bottom: 8px;
}

.personality p {
  font-size: 1.2em;
}

.personality-name {
  font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
  .personality-div {
    width: auto;
  }
  .page-title {
    font-size: 2.3em;
  }
}

footer {
  background-color: #0a0a0a;
  color: white;
  padding: 50px 20px;
  margin-top: 100px;
  text-align: center;
}

footer a {
  text-decoration: none;
  line-height: 40px;
}

a::before,
a::after,
a::selection,
a:visited,
a:active {
  color: white;
  text-decoration: none;
  padding: 10px;
}
